.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: rgba(45, 49, 49, 0.096);
}

nav {
  background: #050505;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  background: #050505;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  margin-top: auto;
  color: white;
  padding: 5px;
  font-size: 10px;
}

.footer p {
  display: block;
  width: 200px;
}

.footer p span {
  content: "\2B50";
}