.container {
  /* background-color: beige; */
  font-size: 16px;
}

.city-btn {
  display: flex;
  flex-direction: column;
  max-height: 280px; /* Removed quotes */
  overflow-y: auto; /* Removed quotes */
  /* border: 2px solid red; */
}

.city-btn .child_1{
  font-size: 16px;
  padding: 10px;
  min-width: 120px;
}

.city-btn button {
  display: flex;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  align-items: center;
}

.btn-container .child_1 {
  margin: 5px;
  border: none;
  background-color: rgb(236, 245, 245);
}

.btn-container .child_1:hover {
  background-color: rgb(202, 225, 225);
}

.btn-container .child_2 {
  opacity: 80%;
  align-items: center;
  width: 40px;
  height: 42px;
}

.city-btn .child_1:focus {
  background-color: rgb(202, 225, 225);
}

.btn-add {
  height: "38px";
  margin-top: "10px";
  background-color: rgb(28, 143, 238);
  margin-top: 10px;
  color: white;
}

.btn-add:hover {
  background-color: rgb(21, 121, 202);
  color: white;
}

.map {
  height: 400px;
  margin-bottom: 30px;
  /* border: 2px solid red; */
}

@media screen and (max-width: 1000px) {
  .container {
    margin-top: 2px;
    font-size: 12px;
  }

  .map {
    height: 220px;
  }

  .city-btn {
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin-bottom: 5px;
  }

  .city-btn button {
    width: 50%;
    font-size: 11px;
    text-align: center;
  }

  form {
    font-size: 10px;
  }
}
