

.button-container {
  display: flex;
  flex-direction: column; /* Vertical layout by default */
  /* background-color: aliceblue; */
  padding: 20px;
  max-height: 80vh;
  overflow: auto;
  white-space: nowrap;
}

.button-container button {
  margin: 0 0 10px 10px;
}

.graph-container {
  /* background-color: antiquewhite; */
  max-height: 60vh;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .button-container {
    flex-direction: row; /* Horizontal layout on tablets and mobile */
  }

  .button-container button {
    width: 100%;
    margin: 0 3px;
  }
}
